body h1{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    margin-top: 10px;
}
.logo-img{
    width: 150px;
}
.blog-img1 img{
    width: 400px;
    margin-left:850px;
    margin-top:50px;
    box-shadow: 1px 2px 15px rgb(54, 53, 53);
}.blog-content1{
    text-align: center;
    margin-right: 600px;
    margin-top: -280px;
    font-family: 'Quicksand', sans-serif;
}
.blog_date{
    font-size: 12px;
    margin-top: -20px;
    font-family: 'Quicksand', sans-serif;
}
.blog-img2 img{
    width: 400px;
    margin-left: 100px;
    margin-top:50px;
    box-shadow: 1px 2px 15px rgb(54, 53, 53);
}.blog-content2{
    text-align: center;
    margin-left: 600px;
    margin-top: -280px;
    font-family: 'Quicksand', sans-serif;
}
.blog-img3 img{
    width: 400px;
    margin-left:850px;
    margin-top:50px;
    box-shadow: 1px 2px 15px rgb(54, 53, 53);
}.blog-content3{
    text-align: center;
    margin-right: 600px;
    margin-top: -250px;
    font-family: 'Quicksand', sans-serif;
}
.blog-img4 img{
    width: 400px;
    margin-left: 100px;
    margin-top:50px;
    box-shadow: 1px 2px 15px rgb(54, 53, 53);
}.blog-content4{
    text-align: center;
    margin-left: 600px;
    margin-top: -250px;
    font-family: 'Quicksand', sans-serif;
}




.line{
    width: 100%;
    height: 1px;
    margin-top: 100px;
    background-color: #000;
    opacity:0.2;
}

@media only screen and (max-width: 700px) {
    .back_to_home{
        
        margin-right: -30px;
    }
    .blog-img1 img{
        width: 365px;
        margin-left: 5px;
        
    }
    .blog-content1 {
        margin-top: 40px;
        margin-left: 10px;
        width: 360px;

    }
    .blog-img2 img{
        width: 365px;
        margin-left: 5px;
        margin-top: 10px;
    }
    .blog-content2{
        width: 360px;
        margin-left: 10px;
        margin-top: 40px;

    }
    .blog-img3 img{
        width: 365px;
        margin-left: 5px;
        margin-top: 10px;
        
    }
    .blog-content3 {
        margin-top: 40px;
        margin-left: 10px;
        width: 360px;

    }
    .blog-img4 img{
        width: 365px;
        margin-left: 5px;
        margin-top: 10px;
    }
    .blog-content4{
        width: 360px;
        margin-left: 10px;
        margin-top: 40px;

    }
}
@media only screen and (max-width: 810px) and (min-width:700px){
    .blog-img1 img{
        width: 380px;
        margin-left: 410px;
        margin-top: 30px;
    }
    .blog-content1{
        width: 350px;
        margin-left: 10px;
        margin-top: -310px;

    }
    .blog-img2 img{
        width: 380px;
        margin-left: 15px;
        margin-top: 10px;
    }
    .blog-content2{
        width: 350px;
        margin-left: 430px;
        margin-top: -310px;

    }
    .blog-img3 img{
        width: 380px;
        margin-left: 410px;
        margin-top: 30px;
    }
    .blog-content3{
        width: 350px;
        margin-left: 10px;
        margin-top: -310px;

    }
    .blog-img4 img{
        width: 380px;
        margin-left: 15px;
        margin-top: 10px;
    }
    .blog-content4{
        width: 350px;
        margin-left: 430px;
        margin-top: -250px;

    }
}