.navbar{
    background-color:#ffffff;
    
}
.dropdown-item{
    font-family: 'Quicksand', sans-serif;
}

.logo-img{
    width: 150px;
}
.body-img{
    width: 100%;
    height: auto;
    position: relative;
    
    
}
.body-img img{
    width: 100%;
    height: auto;
}
.body-title{
    position: absolute;
    text-align: center;
    top: 80px;
    left: 100px;

}
.healthy_food{
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 4px 2px #252020;
    font-size: 60px;
    font-family: 'Quicksand', sans-serif;
}
.make{
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-shadow: 1px 2px #252020;
}
.make1{
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-shadow: 1px 2px #252020;
}
.About-us{
    text-align: center;
    height: 600px;
    
}
.About-us h1{
   margin-top: 30px;
   font-family: 'Quicksand', sans-serif;
}
.About_us-img .img-1{
    width: 300px;
    float:right;
    border-radius: 10px;
    margin-right: 60px;
    margin-top: -20px;
    box-shadow: 1px 1px 11px -4px rgb(63, 62, 62);
}
.About_us-img .img-2{
    width: 300px;
    float:right;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 40px;
    box-shadow: 1px 1px 11px -4px rgb(63, 62, 62);
}
.About_us-img .img-3{
    width: 300px;
    float:right;
    border-radius: 10px;
    margin-right: -610px;
    margin-top: 190px;
    box-shadow: 1px 1px 11px -4px rgb(63, 62, 62);
}
.About_us-desc h3{
    margin-top: 50px;
    font-family: 'Quicksand', sans-serif;
}
.About_us-desc p{
    font-family: 'Quicksand', sans-serif;
}
.Contact{
    height: 700px;
}
.Contact h1{
    text-align: center;
}
.contact_box{
    width: 900px;
    height: 500px;
    box-shadow: 1px 4px  15px #8b8585;
    margin:auto;
    
}
.form_{
    width: 500px;
    padding-top: 80px;
    display: flex;
    flex-flow: row wrap;
    margin-left: 500px;
}
.form-text{
    width: 300px;
    height:40px;
    border: none;
    margin-bottom: 5px;
    background-color: rgb(198, 203, 207,0.2);
    padding-left: 5px;
    box-shadow: 1px 1px 3px rgb(192, 189, 189);
    font-family: 'Quicksand', sans-serif;
    
    
}
.form-text-area{
    width: 300px;
    margin-top: 6px;
    border: none;
    background-color: rgb(198, 203, 207,0.2);
    padding-left: 5px;
    opacity: 0.5;
    box-shadow: 1px 1px 3px rgb(116, 114, 114);
    font-family: 'Quicksand', sans-serif;
}
.contact_info{
    width: 400px;
    height: 420px;
    background-color: rgb(13, 57, 116);
    margin-top: -360px;
    margin-left: -50px;
}
.contact_info h1{
    color: #fff;
    padding-top: 30px;
    text-align: left;
    margin-left: 30px;
    font-family: 'Quicksand', sans-serif;
}
.contact_button{
    width: 100px;
    height: 40px;
    margin-left:500px;
    margin-top: 10px;
    border: none;
    background-color: rgb(13, 57, 116);
    border-radius: 20px;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
}
.contact_button:hover{
    background-color: #fff;
    color: rgb(110, 107, 107);
    box-shadow: 1px 1px 6px rgb(91, 92, 94);
}
.contact_info li{
    list-style-type: none;
    color: #fff;
    padding: 20px;

}
.contact_info a{
   color: #fff;
   font-family: 'Quicksand', sans-serif;
}
.contact_info i{
    margin-right: 10px;
}
.footer{
    width: 100%;
    height: 200px;
    padding: 40px;
    background-color: rgb(91, 92, 94);
}
.footer-icon-grp{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer-icon{
    width: 50px;
    height: 50px;
    background-color: lightgrey;
    border-radius: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    cursor: pointer;
}
.footer-icon i{
   font-size: 30px;
   text-decoration: none;
   color: rgb(32, 33, 34);
}
.footer_links{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer_links p{
    font-size: 17px;
    margin-right: 20px;
}
.footer_links p a{
    color: #000;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}
.footer_links  .line0{
    display: none;
}

.copyrights{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 14px;

}











@media only screen and (max-width: 700px) {
    .body-img{
        width: 100%;
        height: auto;
    }
    .healthy_food{
        font-size: 30px;
    }
    .body-title{
        margin-left: -90px;
        margin-top: -50px;
    }
    .make{
        font-size: 15px;
        margin-bottom: -4px;
    }
    .make1{
        display: none;
    }
    .About_us-img{
        margin-right: auto;
        margin-left: 0px;
    }
    .About_us-img .img-1{
        width:180px;
        height: 170px;
        border-radius: 50%;
        margin-top: 30px;
        margin-left: auto;
        margin-right: 10px;
    }
    .About_us-img .img-2{
        width: 200px;
        border-radius: 50%;
        margin-right: auto;
        margin-left: 180px;
        margin-top: 30px;
        margin-bottom: 30px;

    }
    .About_us-img .img-3{
        width: 190px;
        height: 180px;
        border-radius: 50%;
        margin-right: 170px;
        margin-top: -328px;
        margin-left: 120px;
        
        

    }
    .About_us-desc{
        margin-top: 200px;
    }
    .About-us{
        width: 100%;
        height: 850px;
    }
    .Contact{
        height: 1000px;
    }
    .contact_box{
        width: 360px;
        height: 800px;
    }
    .contact_info{
        width: 300px;
        margin-left: 20px;
        margin-top: 0px;
    }
    .form_{
        width: 300px;
        margin-top: 0px;
        margin-left: 30px;
    }
    .contact_button{
        margin-left: 30px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .footer{
        width: 100%;
        height: 370px;
    }
    .footer-icon-grp{
        width: 200px;
        margin-left: -20px;
        margin-top: -35px;
        margin-bottom: 0px;
        
    }
    .footer-icon{
        margin-bottom: 0px;
           
    }
    .footer_links{
        margin-left: 50px;
        display: block;
        margin-top: -200px;
    }
    .footer_links .line0{
        display:contents;
        
    }
    .copyrights{
        margin-left: 50px;
        margin-top: 65px;
    }
   

    
}
@media only screen and (max-width: 810px) and (min-width:700px){

    .healthy_food{
        width: 40px;
        margin-top:-50px;
        margin-left: -20px;
    }
    .body-title{
        left: 70px;
    }
    .make1{
        display: none;
    }
    .About_us-img{
        margin-top: 35px;
        margin-bottom: 50px;
        
    }
    .About-us{
        height: 900px;
    }
    .About_us-desc{
        margin-left: 40px;
    }
    .About_us-img .img-2{
        margin-bottom: 125px;
    }
    .contact_box{
        width: 800px;
    }
    .form_{
        margin-left: 450px;
    }
    .contact_button{
        margin-left: 450px;
    }
    .contact_info{
        margin-left: 10px;
    }
    .footer-icon-grp{
        margin-left: 135px;
    }
    .footer_links{
        margin-left: 80px;
    }
    .copyrights{
        margin-left: 240px;
    }
}
