body h1{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    margin-top: 10px;
}
.logo-img{
    width: 150px;
}
.blog-img img{
    width: 420px;
    box-shadow: 1px 2px 15px rgb(54, 53, 53);
}.blog-content{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}
.blog_date{
    font-size: 12px;
    margin-top: -20px;
    font-family: 'Quicksand', sans-serif;
}





.line{
    width: 100%;
    height: 1px;
    margin-top: 100px;
    background-color: #000;
    opacity:0.2;
}
@media only screen and (max-width: 700px) {
    .blog-img img{
        width: 360px;
        box-shadow: 1px 2px 15px rgb(54, 53, 53);
    }
    
}
